.fixnav{ position:absolute; top:120px; left:50%; margin-left:500px; width:171px;}
.fixd{ position:fixed; top:70px; z-index:9;}
.fixnav dl{ margin-bottom:2px; width:171px; }
.fixnav dl a{ padding:7px 20px;color:#ffffff; font-size:0.18rem; display:block; background:#272727;}
.fixnav dl a:hover{ background:#ddab30;}
.fixnav dl a.on{ background:#ddab30;}
.fixnav dl a.last{ font-size:22px; color:#fffff;}
.fixnav dl a.last:hover{ color:#FFF;}
	
	
